# Environment
ASPNETCORE_ENVIRONMENT=Development

# ASP.NET Core configuration binding
ConnectionStrings__PortalDb=

# PostgreSQL
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Initial Superadmin
SUPERADMIN_DOCUMENT=
SUPERADMIN_FIRST_NAME=
SUPERADMIN_LAST_NAME=
SUPERADMIN_EMAIL=

# Mail - pending definition
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
